<html>

  <head>
    <title>Cheaper Than a Burger</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
  <div class="cover-wrapper">
    <header>
      <img src="images/logo_white.png" alt="Cheaper than a Burger" class="cover-image">
    </header>

  <p class="intro">
    Cooking at home can save you time, money, and calories.<br/>
    Search here for healthy recipes all under the price of <br/>
    a BigMac meal - $5.99. How much can you save?
  </p>

  <a href="index">
    <button class="cover-button">
      Take the challenge!
    </button>
  </a>
  </div>
  </body>

</html>
