<!DOCTYPE html>
<html>
<head>
  <title>Cheaper Than a Burger</title>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <link src="main.css" rel="stylesheet">
</head>

<script type="text/javascript">

  var config = {
    apiKey: "AIzaSyAdiZqTSjDgktbTNrhKHTM9r28Zu4TGm-E",
    authDomain: "cheaper-than-a-burger.firebaseapp.com",
    databaseURL: "https://cheaper-than-a-burger.firebaseio.com",
    projectId: "cheaper-than-a-burger",
    storageBucket: "cheaper-than-a-burger.appspot.com",
    messagingSenderId: "471661590671"
  };

  firebase.initializeApp(config);

</script>

  <body>

    <header>
      <img src="images/logo.png" alt="Cheaper than a Burger" class="logo">
    </header>

    <div class="recipe-grid">
      <div class="recipe" id="recipe1"><a href="./recipe.html"><h3>Recipe Name<h3><h3>$0.00<h3></a></div>
      <div class="recipe" id="recipe1"><a href="./recipe.html"><h3>Recipe Name<h3><h3>$0.00<h3></a></div>
      <div class="recipe" id="recipe1"><a href="./recipe.html"><h3>Recipe Name<h3><h3>$0.00<h3></a></div>
      <div class="recipe" id="recipe1"><a href="./recipe.html"><h3>Recipe Name<h3><h3>$0.00<h3></a></div>
      <div class="recipe" id="recipe1"><a href="./recipe.html"><h3>Recipe Name<h3><h3>$0.00<h3></a></div>
      <div class="recipe" id="recipe1"><a href="./recipe.html"><h3>Recipe Name<h3><h3>$0.00<h3></a></div>
    </div>

  </body>

</html>
