
/** Color Palette
logo blue: #00D4D4
logo yellow: #FFD588

/** Global Styles **/

* {
  font-family: sans-serif;
  font-size: 16px;
  color: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

p {
  line-height: 1em;
}

body {
  margin: 40px;
}

/** Browse Page **/

.logo {
  width: 60%;
  margin-bottom: 30px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 15px;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
}

.recipe {
  text-align: center;
  background-color: gray;
  padding-top: 40px;
}

.recipe > a > h3 {
  color: #000;
  font-weight: bold;
}

#bean-burritos {
  background-image: url(images/bean-burritos.jpg);
}

#chicken-noodle-casserole {
  background-image: url(images/chicken-noodle-casserole.jpg);
}

#fajita-quesadillas  {
  background-image: url(images/quesadillas.jpg);
}

#fajita-ranch-chicken-wraps {
  background-image: url(images/chicken-ranch-fajita.jpg);
}

#fish-and-peppers {
  background-image: url(images/fish-and-peppers.jpg);
}

#fish-tacos {
  background-image: url(images/fishtacos.jpg);
}

#grilled-pork-and-pineapple  {
  background-image: url(images/pork-and-pineapple.jpg);
}

#herbed-salmon  {
  background-image: url(images/herbed-salmon.jpg);
}

#jamaican-stir-fry  {
  background-image: url(images/jamaican-stir-fry.jpg);
}

#pork-kabobs {
  background-image: url(images/five-spice-pork-kabobs.jpg);
}

#sausage-eggwiches  {
  background-image: url(images/sausage-eggwich.jpg);
}

#shrimp-bisque  {
  background-image: url(images/shrimp-bisque.jpg);
}

#veggie-lasagna  {
  background-image: url(images/veggie-lasagna.jpg);
}

/** Recipe Page **/

.single-recipe-img {
  float: right;
}

button {
  padding: 15px 40px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: #e2e2e2;
  background-color: #6AD3D1;
}

.button-text {
  font-size: 1.2em;
  font-weight: bold;
}

.single-recipe-heading {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.single-recipe-title {
  margin-bottom: 30px;
}

/** Savings **/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

.savings {
  text-align: center;
}

/** .dollar {
  position: relative;
  top: 0;
  left: 0;
}

.bag {
  position: absolute;
  top: 100px;
  left: 100px;
}

.money {
  position: relative;
  left: 0;
  right: 0;
} */
