
/** Color Palette
logo blue: #00D4D4
logo yellow: #FFD588
logo peach: #FFAE94

/** Global Styles **/

* {
  font-family: sans-serif;
  font-size: 16px;
  color: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.4em;
  color: #000;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

body {
  margin: 20px 40px;
}

button {
  padding: 20px 50px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: #e2e2e2;
  background-color: #6AD3D1;
  font-weight: bold;
  font-size: 1.3em;
}

button > a {
  padding: 10px 25px;
  font-size:1.2em;
}

/** Cover Page **/

header {
  background-color: #eee;
  padding: 30px 40px;
  margin: 0 -20px;
}

.logo {
  width: 60%;
}

.small-bag {
  width: 40px;
  margin-right: 20px;
  margin-top: 10px;
}

.amount-saved {
  float: right;
  font-weight: bold;
}

.bank-balance {
  font-size: 1.8em;
}

.money-saved {
  margin-top: 15px;
  float: right;
  color: #777;
}

.cover-wrapper {
  margin: -40px;
  height: 120%;
  padding-top: 75px;
  text-align: center;
  background-color: #b6eaea;
}

.cover-wrapper > header {
  background-color: #b6eaea;
}

.cover-image {
  border: 5px solid #d1cfcf;
  border-radius: 40px;
}

.intro {
  font-size: 1.25em;
}

.cover-button {
  background-color: #fff;
  color: #FFAE94;
}

/** Browse Page **/

.recipe-grid {
  display: grid;
  margin: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 30px;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
}

.recipe {
  text-align: center;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding-top: 40px;
  opacity: .8;
  background-size:300px 300px;
}

.recipe > div {
  position: relative;
}

.recipe-price {
  font-size: 1.8em;
}

.recipe-page {
  margin: 40px;
}

.map {
  margin: 25px 60px 0 40px;
  float: right;
}

iframe {
  width: 300px;
  height: 300px;
}

#bean-burritos {
  background-image: url(images/bean-burritos-fade.png);
}

#chicken-noodle-casserole {
  background-image: url(images/chicken-noodle-casserole-fade.png);
}

#fajita-quesadillas  {
  background-image: url(images/quesadillas-fade.png);
}

#fajita-ranch-chicken-wraps {
  background-image: url(images/chicken-ranch-fajita-fade.png);
}

#fish-and-peppers {
  background-image: url(images/fish-and-peppers-fade.png);
}

#fish-tacos {
  background-image: url(images/fishtacos-fade.png);
}

#grilled-pork-and-pineapple  {
  background-image: url(images/pork-and-pineapple-fade.png);
}

#herbed-salmon  {
  background-image: url(images/herbed-salmon-fade.png);
}

#jamaican-stir-fry  {
  background-image: url(images/jamaican-stir-fry-fade.png);
}

#pork-kabobs {
  background-image: url(images/five-spice-pork-kabobs-fade.png);
}

#sausage-eggwiches  {
  background-image: url(images/sausage-eggwich-fade.png);
}

#shrimp-bisque  {
  background-image: url(images/shrimp-bisque-fade.png);
}

#veggie-lasagna  {
  background-image: url(images/veggie-lasagna-fade.png);
}


/** Single Recipe Page **/

.single-recipe-img {
  float: right;
  border-radius: 15px;
}

.ingredients  {
  margin-top: 45px;
  margin-bottom: 45px;
}

ol {
  max-width: 40em;
}

ol > li {
  margin: 1em;
  line-height: 1.5em;
}

ul > li {
  margin: .5em;
}

.single-recipe-heading {
  margin: 40px 0 80px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  background-color: #eee;
  padding: 40px;
  margin: 0 -20px;
}

.single-recipe-title {
  margin: 40px 0;
}

/** Savings **/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

.savings-wrapper {
  text-align: center;
}

 .dollar {
  margin: 0 auto;
  display: block;
  /** position: relative;
  top: 0;
  left: 0; */
}

.bag {
  margin: -50px auto 20px;
  display: block;
  /**
  position: absolute;
  top: 100px;
  left: 100px; */
}

/** .money {
  position: relative;
  left: 0;
  right: 0;
} */
