<head>
    <title>Cheaper Than a Burger</title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
  <div class="recipe-page">
    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Recipe Name</h1>
        <h2>$0.00 per serving</h2>
        <button><a href="savings.html" class="button-text">I made it!</a></button>
      </div>

      <img src="images/test.jpg" class="single-recipe-img">

    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
        </ul>
      </div>

      <p>Recipe instructions
        go here
      </p>
  </div>
  </body>
