<html>

  <head>
    <title>Cheaper Than a Burger</title>
    <link rel="stylesheet" href="./main.css">
  </head>

  <body>

  <div class="savings-wrapper">
    <h1>You saved $0.00 today!</h1>
    <h2>Total savings: $0.00</h2>
  <div class="money">
    <img src="images/dollar.png" alt="Savings!" class="animated slideInDown dollar">
    <img src="images/money_bag.png" alt="Savings!" class="bag">
    <h2>In a year, that would add up to $0.00</h2>
  </div>


  <a href="main.html">
    <button>
      Back to Recipes
    </button>
  </a>
</div>

  </body>

</html>
