<html>

  <head>
    <title>Cheaper Than a Burger</title>
    <link rel="stylesheet" href="./main.css">
  </head>

  <body>

    <div class="savings-wrapper">
      <h1>You've saved $<%= (bank * 1 ).toFixed(2) %> so far!</h1>
      <h2>Keep it up!</h2>
      <div class="money">
        <img src="images/dollar.png" alt="Savings!" class="animated slideInDown dollar">
        <img src="images/money_bag.png" alt="Savings!" class="bag">
      </div>

    <a href="index"><button>Back to Recipes</button></a>
    </div>

  </body>

</html>
