<html>

  <head>
    <title>Cheaper Than a Burger</title>
    <link rel="stylesheet" href="./main.css">
  </head>

  <body>

    <div class="savings">
      <h1>You saved $<%= bank %> today!</h1>
      <h2>Total savings: $<%= bank %></h2>
      <div class="money">
        <img src="images/dollar.png" alt="Savings!" class="animated slideInDown dollar">
        <img src="images/money_bag.png" alt="Savings!" class="bag">
        <h2>In a year, that would add up to $<%= (bank * 365).toFixed(2) %></h2>
      </div>
    </div>

  </body>

</html>
