<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

    <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 5.99 - 0.71}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Bean Burritos</h1>
        <h2>Makes 6 servings</h2>
        <h2>$0.71 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/bean-burritos.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

    <div class="map">
      <h3>Grocery Stores Nearby:</h3>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=grocery%20store&key=AIzaSyAdiZqTSjDgktbTNrhKHTM9r28Zu4TGm-E" allowfullscreen></iframe>
    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>Homemade or Canned Refried Beans</li>
          <li>Shredded Cheese</li>
          <li>Diced onions</li>
          <li>Salsa</li>
          <li>Enchilada Sauce</li>
          <li>Tortillas</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>Spread beans on a tortilla and add diced onions.</li>
          <li>Add salsa and enchilada sauce.</li>
          <li>Sprinkle on cheese.</li>
          <li>Roll up and place in a greased pan.</li>
          <li>Pour remaining enchilada sauce on the top of the burritos and sprinkle with cheese. Or, if you are me, cover with cheese.</li>
          <li>Bake at 350 degrees for 25 minutes.</li>
      </ol>

  </body>
