<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

  <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 0.98}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Chicken Noodle Casserole</h1>
        <h2>Makes 8 servings</h2>
        <h2>$0.98 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/chicken-noodle-casserole.jpg" class="single-recipe-img" width="350px" height="350px">
    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>4 stalks celery, chopped</li>
          <li>1 medium onion, chopped</li>
          <li>1 tablespoon vegetable oil</li>
          <li>2 pounds chicken legs and/or thighs</li>
          <li>1/2 teaspoon ground black pepper</li>
          <li>1 teaspoon dried thyme, crushed</li>
          <li>1/2 teaspoon salt</li>
          <li>1 slice bread</li>
          <li>1 12 ounce package jumbo or extra-large egg noodles</li>
          <li>1 8 ounce container sour cream dip, cheddar French onion dip, or French onion dip</li>
          <li>2 tablespoons all-purpose flour</li>
          <li>Nonstick cooking spray</li>
          <li>2 tablespoons fresh parsley</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>Preheat oven to 375 degrees F. In a Dutch oven cook two-thirds of the celery and two-thirds of the onion in hot oil over medium heat for 3 minutes. Add chicken, pepper, thyme, and salt; cook for 2 minutes. Add 6 cups of water. Bring to boiling; reduce heat. Simmer, covered, for 20 to 25 minutes until chicken is no longer pink.</li>
          <li>Meanwhile, for topping, tear bread in small pieces. Finely chop remaining celery and onion. In a small bowl toss together the bread, celery and onion; set aside.</li>
          <li>With a slotted spoon transfer chicken to a cutting board to cool slightly. Add noodles to simmering broth; boil gently for 7 to 8 minutes, just until tender, stirring occasionally. With a slotted spoon transfer noodles, celery, and onion to a 3-quart baking dish.</li>
          <li>For sauce, in a bowl whisk together sour cream dip and flour. Gradually whisk in 1 cup of the hot broth until smooth. Add sauce to broth in Dutch oven; cook and stir until boiling.</li>
          <li>Meanwhile, discard skin and bones from chicken. Chop chicken, then add to noodles in dish. Gently stir in sauce. Sprinkle with topping, then lightly coat with cooking spray.</li>
          <li>Bake, uncovered, for 30 to 35 minutes until casserole is heated through and topping begins to brown. Top with parsley just before serving.</li>
      </ol>

  </body>
