<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

  <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 5.99 - 0.43}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Fajita Style Quesadillas</h1>
        <h2>Makes 8 servings</h2>
        <h2>$0.43 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/quesadillas.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

    <div class="map">
      <h3>Grocery Stores Nearby:</h3>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=grocery%20store&key=AIzaSyAdiZqTSjDgktbTNrhKHTM9r28Zu4TGm-E" allowfullscreen></iframe>
    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>1/2 medium red or green sweet pepper, seeded and cut into bite-size strips</li>
          <li>1/2 medium onion, halved and thinly sliced</li>
          <li>1 fresh serrano pepper, halved, seeded, and cut into thin strips</li>
          <li>2 teaspoons vegetable oil</li>
          <li>4 6-inch white corn tortillas</li>
          <li>Nonstick cooking spray</li>
          <li>1/2 cup shredded Monterey Jack cheese (2 ounces)</li>
          <li>2 thin slices tomato, halved crosswise</li>
          <li>1 tablespoon snipped fresh cilantro</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>In a large skillet cook sweet pepper, onion, and serrano pepper in hot oil over medium-high heat for 3 to 5 minutes or until vegetables are just tender. Remove from heat.</li>
          <li>Lightly coat one side of each tortilla with cooking spray. On the uncoated side of two of the tortillas, divide half of the cheese. Top with onion mixture, tomato slices, the 1 tablespoon cilantro, and the remaining cheese. Top with remaining tortillas, coated sides up.</li>
          <li>Heat a very large skillet or griddle over medium heat. Cook quesadillas for 4 to 5 minutes per side or until cheese melts and tortillas are lightly browned. Cut each quesadilla into 4 wedges. Serve warm and, if desired, with sour cream, additional cilantro and lime wedges.</li>
      </ol>

  </body>
