<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="single-recipe-heading">

    <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 5.99 - 2.18}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

      <div class="single-recipe-title">
        <h1>Crispy Fish and Peppers</h1>
        <h2>Makes 4 servings</h2>
        <h2>$2.18 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/fish-and-peppers.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

    <div class="map">
      <h3>Grocery Stores Nearby:</h3>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=grocery%20store&key=AIzaSyAdiZqTSjDgktbTNrhKHTM9r28Zu4TGm-E" allowfullscreen></iframe>
    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>1 pound fresh or frozen (thawed) small fish fillets (such as grouper, catfish, or tilapia)</li>
          <li>3/4 cup buttermilk</li>
          <li>1 egg</li>
          <li>1 teaspoon Cajun seasoning</li>
          <li>1 cup all-purpose flour</li>
          <li>3 - 4 tablespoons vegetable oil</li>
          <li>1 cup sliced and/or chopped miniature sweet peppers</li>
          <li>1 lemon, cut up</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>Rinse fish and pat dry with paper towels.</li>
          <li>In a shallow dish, whisk together buttermilk, egg, and Cajun seasoning. Place flour in another shallow dish. Dip fish in buttermilk and flour. Repeat to coat fish twice.</li>
          <li>Heat 3 tablespoons of the oil in a large heavy skillet over medium-high heat. Carefully add fish to hot oil (working in batches, if necessary). Cook for 3 to 5 minutes on each side or until golden. Add more oil, if needed. Drain on paper towels.</li>
          <li>Drain oil from skillet; wipe clean with paper towel. Add peppers to skillet and cook 2 minutes or until crisp tender.</li>
          <li>Serve fish with peppers and lemon.</li>
      </ol>

  </body>
