<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="single-recipe-heading">

    <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 5.99 - 3.56}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

      <div class="single-recipe-title">
        <h1>Fish Tacos in Crunchy Shells</h1>
        <h2>Makes 4 servings</h2>
        <h2>$3.56 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/fishtacos.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

    <div class="map">
      <h3>Grocery Stores Nearby:</h3>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=grocery%20store&key=AIzaSyAdiZqTSjDgktbTNrhKHTM9r28Zu4TGm-E" allowfullscreen></iframe>
    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>2 (6-ounce) packages frozen tilapia fillets, thawed</li>
          <li>3/4 teaspoon ground cumin</li>
          <li>1/4 teaspoon fine sea salt</li>
          <li>1/8 teaspoon cayenne pepper</li>
          <li>1 tablespoon fresh lime juice</li>
          <li>8 blue or yellow corn taco shells</li>
          <li>2 cups shredded lettuce</li>
          <li>1 large tomato, chopped</li>
          <li>2 green onions, thinly sliced</li>
          <li>1/2 cup shredded Monterey Jack cheese</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>Preheat the oven to 425°F.</li>
          <li>Arrange fish in a single layer on a baking sheet lined with parchment paper.</li>
          <li>In a small bowl, mix cumin, salt and cayenne. Sprinkle evenly over both sides of fish.</li>
          <li>Bake until golden brown and flesh begins to flake, 9 to 11 minutes.</li>
          <li>Transfer fish to a medium bowl, toss with lime juice and break into small pieces.</li>
          <li>Fill warmed taco shells with fish, lettuce, tomato and green onions and top with shredded cheese.</li>

      </ol>

  </body>
