<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="single-recipe-heading">

    <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 5.99 - 2.67}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

      <div class="single-recipe-title">
        <h1>Grilled Pork and Pineapple</h1>
        <h2>Makes 4 servings</h2>
        <h2>$2.67 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/pork-and-pineapple.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

    <div class="map">
      <h3>Grocery Stores Nearby:</h3>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=grocery%20store&key=AIzaSyAdiZqTSjDgktbTNrhKHTM9r28Zu4TGm-E" allowfullscreen></iframe>
    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>4 3/4 inch-thich boneless top loin pork chops</li>
          <li>Salt and Ground black pepper</li>
          <li>1 peeled and cored fresh pineapple</li>
          <li>3 tablespoons orange marmalade</li>
          <li>1/2 cup plain yogurt</li>
          <li>1/4 cup roasted lightly salted cashew halves, coarsely chopped</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>Sprinkle pork lightly with salt and pepper. Cut pineapple into 1/2-inch-thick slices; set aside.</li>
          <li>For a charcoal grill, place chops on the rack of uncovered grill over medium coals for 4 minutes. Turn; add pineapple. Brush chops and pineapple with 2 tablespoons of the marmalade. Grill 3 to 5 minutes more or until an instant-read thermometer inserted into pork registers 160 degrees F, turning pineapple halfway through grilling.</li>
          <li>Meanwhile, combine yogurt and remaining marmalade. Arrange pineapple and chops on plates. Top with yogurt; sprinkle with nuts.</li>
      </ol>

  </body>
