<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

  <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 5.99 - 2.49}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Herbed Salmon</h1>
        <h2>Makes 4 servings</h2>
        <h2>$2.49 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/herbed-salmon.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>1 pound skinless salmon fillet, cut into 4 portions</li>
          <li>1 lemon</li>
          <li>1 tablespoon snipped fresh dillweed</li>
          <li>1 tablespoon snipped fresh tarragon or lemon thyme</li>
          <li>1 tablespoon snipped fresh Italian (flat-leaf) parsley or bias-sliced chives</li>
          <li>1/2 teaspoon salt</li>
          <li>1/2 teaspoon ground black pepper</li>
          <li>2 tablespoons butter, softened Lemon peel and fresh herbs (optional)</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>Preheat oven to 350 degrees F. Rinse fish; pat dry. Shred 1 teaspoon of peel from lemon; set aside. Cut lemon in half; juice half the lemon. In a small bowl combine lemon peel, snipped herbs, salt, pepper, and butter; stir to combine. Spread evenly on the salmon.</li>
          <li>Heat a 12-inch nonstick oven-going skillet over medium heat. Add salmon, herb side down. Cook for 3 minutes or until golden brown. Turn salmon; pour lemon juice over salmon. Place pan in oven and bake for 3 to 7 minutes or until salmon flakes easily when tested with a fork.</li>
          <li>Transfer salmon to serving plates; drizzle with pan juices. Top with additional shredded lemon peel and snipped fresh herbs.</li>
      </ol>

  </body>
