<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

  <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 2.00}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Jamaican Pork Stir-Fry</h1>
        <h2>Makes 4 servings</h2>
        <h2>$2.00 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/jamaican-stir-fry.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>1 tablespoon cooking oil</li>
          <li>1 16 ounce package frozen sweet pepper and onion stir-fry vegetables</li>
          <li>12 ounces pork strips for stir-frying</li>
          <li>2 - 3 teaspoons Jamaican jerk seasoning</li>
          <li>1/2 cup bottled plum sauce Soy sauce (optional)</li>
          <li>Peanuts (optional)</li>
          <li>2 cups hot cooked rice or pasta</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>In a wok or large skillet heat oil over medium-high heat. Add frozen vegetables; cook and stir for 5 to 7 minutes or until vegetables are crisp-tender. Remove vegetables from wok.</li>
          <li>Toss pork with jerk seasoning; add to wok. Add more oil if necessary. Cook and stir for 2 to 5 minutes or until pork is no longer pink.</li>
          <li>Add plum sauce to wok; return vegetables. Gently toss to coat; heat through. If desired, season with soy sauce and sprinkle with peanuts. Serve over rice.</li>
      </ol>

  </body>
