<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
  </head>

  <body>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Recipe Name</h1>
        <h2>Makes 0 servings</h2>
        <h2>$0.00 per serving</h2>
        <button><a href="../savings.html">I made it!</a></button>
      </div>

      <img src="../images/bean-burritos.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>one</li>
          <li>two</li>
          <li>three</li>
      </ol>

  </body>
