<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

  <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 5.99 - 0.80}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Sausage Eggwiches with Fresh Fruit</h1>
        <h2>Makes 6 servings</h2>
        <h2>$0.80 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/sausage-eggwich.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>6 eggs</li>
          <li>1/2 natural pork sausage</li>
          <li>6 slices cheddar cheese</li>
          <li>6 english muffins</li>
          <li>apple and cantaloupe slices</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>Spray skillet with cooking spray and turn on medium-high heat. Crack and egg and let it fry.</li>
          <li>In same skillet, brown the sausage. Slice sausage roll into 1/3 inch thick circles and fry in skillet until cooked through.</li>
          <li>Assemble sandwiches. Place fried egg, cooked sausage patty and cheese onto bottom muffin part. Place in toaster oven or under the broiler for 3-4 minutes, or until cheese melts.</li>
          <li>Add top muffin part</li>
          <li>Slice fruits and serve sausage eggwiches with fresh fruit.</li>
      </ol>

  </body>
