<head>
    <title>Cheaper Than a Burger</title>
    <link href="../main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

  <script>
      $(document).ready(function(){
           $.post("/add-money", {bank: <%= bank %> + 2.03}, function(response, status) {
           // send correct value of bank (bank = bank + cost)
           console.log(response);
       });
      });
    </script>

    <div class="single-recipe-heading">

      <div class="single-recipe-title">
        <h1>Shrimp Bisque</h1>
        <h2>Makes 4 servings</h2>
        <h2>$2.04 per serving</h2>
        <button><a href="../savings">I made it!</a></button>
      </div>

      <img src="../images/shrimp-bisque.jpg" class="single-recipe-img" width="350px" height="350px">

    </div>

      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <li>2 cups water</li>
          <li>2 teaspoons Old Bay Seasoning</li>
          <li>12 ounces fresh or frozen medium shrimp in shells, thawed</li>
          <li>2 stalks celery, thinly sliced (1 cup)</li>
          <li>1 12 ounce can evaporated milk</li>
          <li>1 cup milk</li>
          <li>2 tablespoons all-purpose flour</li>
          <li>2 teaspoons anchovy paste or 1 or 2 anchovies, finely chopped</li>
        </ul>
      </div>

      <h3>Directions:</h3>
      <ol>
          <li>In a 4-quart Dutch oven combine the water, Old Bay Seasoning, shrimp, and celery. Cook, uncovered, over medium-high heat for 5 to 8 minutes or until shrimp shells turn pink and shrimp are opaque. Remove shrimp with slotted spoon or tongs; set aside to cool.</li>
          <li>In a medium bowl whisk together evaporated milk, milk, flour, and anchovy paste; stir into liquid in Dutch oven. Cook, uncovered, over medium heat for 10 minutes, stirring occasionally.</li>
          <li>Meanwhile, peel shrimp. Chop about half the shrimp. Add chopped shrimp to soup. Cook for 1 to 2 minutes or until heated through. Ladle into bowls. Top with remaining shrimp. Pass additional seafood seasoning.</li>
      </ol>

  </body>
